body {
    background-image:url("../img/fondoChat3.png");
    background-repeat:repeat;
}

form {
    background-color:white;
    box-shadow:0em .3em .5em grey;
}

h1 {
    color:white;
    font-weight: 200;
}

form>div {
    padding:1em;
}

.btn {
    background-color:rgb(160, 43, 170);
}

.btn:hover {
    background-color: rgb(163, 86, 170);
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid rgb(160, 43, 170);
    -webkit-box-shadow: 0 1px 0 0 rgb(160, 43, 170);
            box-shadow: 0 1px 0 0 rgb(160, 43, 170);
}
.input-field .prefix.active {
    color: rgb(160, 43, 170);
}
.picker__date-display {
    background-color:rgb(222, 176, 253);
}
.picker__weekday-display {
    background-color:rgb(222, 176, 253);
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background-color:rgb(160, 43, 170);
}

.picker__today,
.picker__clear,
.picker__close {
    color:rgb(222, 176, 253);
}

.picker__day--today {
    color:rgb(222, 176, 253);
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
    background:rgb(222, 176, 253);
}

.picker__day.picker__day--today {
    color:rgb(160, 43, 170);
}

.input-field label {
    color:rgb(238, 188, 245);
}

.modal-content h4 {
    color:rgb(238, 188, 245);
}

.modal-footer button {
    color:rgb(238, 188, 245);
}

.waves-effect.waves-dialogo .waves-ripple {
    background-color:rgb(160, 43, 170);
}

#profesionalStick {
    width: 1em;
}




