#contenedorEnviado {
    display:inline-block;
    padding:1em;
    background-color: rgb(160, 43, 170);
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 'sans-serif';
    box-shadow:0em .2em .2em rgb(95, 95, 95);
    text-align:right;
}

#mensajeEnviado {
    font-size:2em;
    margin-top:.5em;
}

#contenedorRecibido {
    display:inline-block;
    padding:1em;
    background-color: rgb(185, 185, 185);
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    box-shadow:0em .2em .2em rgb(95, 95, 95);
}

#mensajeRecibido {
    font-size:2em;
    margin-top:.5em;
}


